.choice-type-view{
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  width: 200px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px;
  .choice{
    width: 100px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    &.choice-day{
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    &.active{
      background: rgba(255,255,255,0.15);
    }
  }
}
